NEXT_PUBLIC_CANDY_MACHINE_ID=CsjodZPWyTHUb5rasaPBLwdLSbeXfFNtBY3XdqS2u6Nz
NEXT_PUBLIC_LUT=
NEXT_PUBLIC_ENVIRONMENT=mainnet-beta
NEXT_PUBLIC_RPC=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_BUYMARKBEER=false
